extends index
block title
    h1 Вітаємо #{firstName}!
block description
    p Нам вдалося підтвердити вашу електронну адресу. Тепер ви можете увійти у свій обліковий запис.
    a(href=`${process.env.CLIENT_URL}/?confirmToken=${confirmToken}`) Натисніть тут, щоб перейти на сторінку входу.
    p Якщо ви не запитували підтвердження, ви можете проігнорувати цей електронний лист.
   